@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: linear-gradient(45deg, #00ffff, #2f4538);
}

h1 {
  text-align: center;
  color: #fff;
}

form {
  background-color: rgba(0, 0, 0, 0.301);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 15px;
  color: #fff;
}

div {
  padding: 15px;
  border: none;
  outline: none;
  font-size: 15px;
}

label {
  font-size: 16pt;
  padding-bottom: 100px;
}

.campo1 {
  padding-right: 20px;
  border-radius: 20px;
  height: 20px;
}

.botao {
  background-color: white;
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  color: black;
  font-size: 15px;
}

.botao:hover {
  background-color: #00ffff;
  cursor: pointer;
}
