@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.degrade {
  /* Definindo um degradê de fundo*/
  background-image: linear-gradient(45deg, #00ffff, #2f4538);
}

a {
  /*Cor e tamanho da fonte dos links*/
  color: white;
  text-decoration: none;
  font-size: 20px;
}

h1 {
  /*Cor e alinhamento do titulo*/

  padding-top: -10%;
  margin-right: 0%;
  color: rgb(253, 203, 67);
  margin-left: -70%;
  font-family: "Raleway", sans-serif;
}

a.botao1 {
  /* Fonte, cor e borda do link */
  position: absolute;
  z-index: auto;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-bottom: 3px solid #90ee9000;
}

a.botao1:hover {
  border-bottom: 4px solid #f80d0d;
}

ul {
  /*Distribuição dos elementos na horizontal + espaçamento + alinhamentos*/
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-left: -9%;
  margin-right: -10%;
  padding: 3% 13%;
  margin-bottom: 80px;
}

img {
  /* Logo */

  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin-top: -10px;
}

.frase {
  /*Div responsável pelo espaço e alinhamento da frase */

  color: white;
  font-size: 28px;
  width: 450px;
  height: 600px;
  margin-left: 150px;
  margin-bottom: 80px;
  font-family: "Raleway", sans-serif;
  text-align: start;
}

.pre_convite {
  /* Div que abriga o pequeno texto abaixo da frase */

  color: rgb(7, 7, 7);
  font-size: 18px;
  width: 450px;
  height: 100px;
  margin-left: 150px;
  margin-top: -500px;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

.div_registro {
  /* Div que abriga o botão registrar */

  width: 300px;
  height: 100px;
  padding-top: 20px;
}

.bt_registro {
  /*Classe do Botao registrar*/
  background-image: #ffff;
  border-style: ridge;
  margin-left: 150px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.bt_registro:hover {
  background: #90ee90;
}

.bt_registro a {
  /*Cor e tamanho do texto do botão*/
  color: black;
  font-size: 18px;
}

.div_img1 {
  /* Div que comporta as imagens dos celulares */
  width: 890px;
  height: 100px;
  margin-left: 250px;
}

.imagem1 {
  /* Tamanho e alinhamento da imagem 1*/
  width: 890px;
  height: 780px;
  margin-left: -10px;
  margin-top: -640px;
}

.imagem2 {
  /* Tamanho e alinhamento da imagem 2*/
  width: 890px;
  height: 810px;
  margin-left: 150px;
  margin-top: -765px;
}

.main2 {
  /* Background e area da segunda main */
  text-align: center;
  color: black;
  background: white;
  width: 100%;
  height: 600px;
  padding-bottom: 52%;
  margin-bottom: 50%;
  margin-top: -5%;
}

h3 {
  /* Cor e tamanho do h3 */
  color: black;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 28pt;
}

.h3_sobre {
  /* Posição do titulo SOBRE */
  padding-top: 5%;
  width: 110px;
  margin-left: 610px;
}

.container_sobre {
  /* Alinhamento e tamanho da fonte do conteudo do sobre */
  padding-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10%;
}

.h3_imagens {
  /* Posição do titulo IMAGENS */
  padding-top: 4%;
  width: 167px;
  margin-left: 600px;
}

.container-slider {
  /* Alinhamento e Background do carrossel*/
  background-image: linear-gradient(45deg, #00ffff, #2f4538);
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: -9%;
  padding-top: 10%;
}

.container-images {
  /* Div que armazena as imagens do carrossel */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 990px;
  height: 600px;
}

.slider {
  /* Classe responsavel por ocultar as imagens  */
  opacity: 0;
  transition: opacity 0.2s;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.on {
  opacity: 1;
}

#prev-button,
#next-button {
  /* Botão para passar para próxima imagem */
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#prev-button img,
#next-button img {
  /* Botão para voltar a imagem anterior */
  width: 100%;
  height: 100%;
}

#prev-button {
  transform: rotate(180deg);
}

footer {
  /* Faixa do rodape */
  background: rgb(11, 11, 11);
}

.rodape {
  /* Alinhamento das redes sociais */
  width: 6%;
  height: 6%;
  border-radius: 3%;
  padding: 20px;
  margin-left: 270px;
  margin-top: 60px;
  margin-bottom: 10%;
}
